<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :meta_tags %>
    <title>Fake API</title>
    <link rel="icon" href="/images/favicon.jpeg" type="image/x-icon">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css"></noscript>
    <link rel="preload" href="/css/app.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/app.css"></noscript>
    <%= erb :scripts %>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VSRT287KYE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VSRT287KYE');
  </script>
  <body>
    <%= erb :'partials/navbar' %>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <%= erb :'partials/footer' %>
    </footer>
    <script defer src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script defer src="js/tryout-api.js"></script>
    <script defer src="js/initializers.js"></script>
  </body>
</html>
